@model IEnumerable<OnlineWallet.Models.Transaction>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Index";
}

<h1>@Localizer["Title"]</h1>

<form method="get" asp-action="Index">
    <div class="form-group mb-2">
        <label class="col-form-label">@Localizer["FilterTitle"]:</label>
        <div class="row">
            <div class="col">
                <input type="date" class="form-control" name="fromDate" />
                <small class="form-text text-muted">@Localizer["FromDate"]</small>
            </div>
            <div class="col">
                <input type="date" class="form-control" name="toDate" />
                <small class="form-text text-muted">@Localizer["ToDate"]</small>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">@Localizer["Button"]</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["From"]
            </th>
            <th>
                @Localizer["Whom"]
            </th>
            <th>
                @Localizer["Date"]
            </th>
            <th>
                @Localizer["Type"]
            </th>
            <th>
                @Localizer["Amount"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @((item.SenderUser != null) ? item.SenderUser.AccountNumber : "Пополнение")
                </td>
                <td>
                    @(item.ReceiverUser?.AccountNumber ?? item.Services?.Name)
                </td>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @item.Type
                </td>
                <td>
                    @item.Amount @Localizer["Currency"]
                </td>
            </tr>
        }
    </tbody>
</table>
